Repository Kotlin/dokka, pull requests merged in 2024-09, with the labels that each got.

#3753 Add helpers and rename Gradle entities to improve V1 to V2 migration experience
  dokka-runners/dokka-gradle-plugin/api/dokka-gradle-plugin.api
  dokka-runners/dokka-gradle-plugin/src/main/kotlin/DokkaPlugin.kt
  dokka-runners/dokka-gradle-plugin/src/main/kotlin/dependencies/DependencyContainerNames.kt
  dokka-runners/dokka-gradle-plugin/src/main/kotlin/dependencies/FormatDependenciesManager.kt
  dokka-runners/dokka-gradle-plugin/src/main/kotlin/dependencies/ModuleComponentDependencies.kt
  dokka-runners/dokka-gradle-plugin/src/main/kotlin/formats/DokkaFormatPlugin.kt
  dokka-runners/dokka-gradle-plugin/src/main/kotlin/formats/DokkaHtmlPlugin.kt
  dokka-runners/dokka-gradle-plugin/src/main/kotlin/internal/PluginFeaturesService.kt
  dokka-runners/dokka-gradle-plugin/src/main/kotlin/internal/gradleUtils.kt
  dokka-runners/dokka-gradle-plugin/src/main/kotlin/internal/v2MigrationUtils.kt
  dokka-runners/dokka-gradle-plugin/src/testFixtures/kotlin/GradleTestKitUtils.kt
  dokka-runners/dokka-gradle-plugin/src/testFixtures/kotlin/gradleRunnerUtils.kt
  dokka-runners/dokka-gradle-plugin/src/testFunctional/kotlin/DokkaPluginFunctionalTest.kt
  dokka-runners/dokka-gradle-plugin/src/testFunctional/kotlin/KotlinDslAccessorsTest.kt
  dokka-runners/dokka-gradle-plugin/src/testFunctional/resources/KotlinDslAccessorsTest/root-project-v2-migration-helpers.txt
  dokka-runners/dokka-gradle-plugin/src/testFunctional/resources/KotlinDslAccessorsTest/root-project.txt
  dokka-runners/dokka-gradle-plugin/src/testFunctional/resources/KotlinDslAccessorsTest/subproject-goodbye-v2-migration-helpers.txt
  dokka-runners/dokka-gradle-plugin/src/testFunctional/resources/KotlinDslAccessorsTest/subproject-goodbye.txt
  dokka-runners/dokka-gradle-plugin/src/testFunctional/resources/KotlinDslAccessorsTest/subproject-hello-v2-migration-helpers.txt
  dokka-runners/dokka-gradle-plugin/src/testFunctional/resources/KotlinDslAccessorsTest/subproject-hello.txt
Labels: runner: Gradle plugin

#3778 DokkaClassicPlugin kdoc: add link to removal ticket
  dokka-runners/dokka-gradle-plugin/src/classicMain/kotlin/DokkaClassicPlugin.kt
Labels: runner: Gradle plugin

#3782 Update .gitattributes
  .gitattributes
Labels: infrastructure

#3783 Update IntelliJ excluded directories
  build.gradle.kts
Labels: infrastructure

#3788 Fix HTML link log when project name doesn't match directory name
  dokka-runners/dokka-gradle-plugin/src/main/kotlin/formats/DokkaHtmlPlugin.kt
  dokka-runners/dokka-gradle-plugin/src/main/kotlin/tasks/LogHtmlPublicationLinkTask.kt
  dokka-runners/dokka-gradle-plugin/src/testFixtures/kotlin/GradleTestKitUtils.kt
  dokka-runners/dokka-gradle-plugin/src/testFixtures/kotlin/projects/MultiModuleProject.kt
  dokka-runners/dokka-gradle-plugin/src/testFunctional/kotlin/DokkaPluginFunctionalTest.kt
  dokka-runners/dokka-gradle-plugin/src/testFunctional/kotlin/HtmlAggregationWarningTest.kt
  dokka-runners/dokka-gradle-plugin/src/testFunctional/kotlin/KotlinMultiplatformFunctionalTest.kt
  dokka-runners/dokka-gradle-plugin/src/testFunctional/kotlin/MultiModuleFunctionalTest.kt
Labels: runner: Gradle plugin

#3793 Update `LogHtmlPublicationLinkTask` configuration to support Project Isolation
  dokka-runners/dokka-gradle-plugin/src/main/kotlin/formats/DokkaHtmlPlugin.kt
  dokka-runners/dokka-gradle-plugin/src/main/kotlin/internal/gradleUtils.kt
Labels: runner: Gradle plugin

#3795 git renormalize `.bat` files after `.gitattribute` changes
  examples/gradle/dokka-customFormat-example/gradlew.bat
  examples/gradle/dokka-gradle-example/gradlew.bat
  examples/gradle/dokka-kotlinAsJava-example/gradlew.bat
  examples/gradle/dokka-library-publishing-example/gradlew.bat
  examples/gradle/dokka-multimodule-example/gradlew.bat
  examples/gradle/dokka-multiplatform-example/gradlew.bat
  examples/gradle/dokka-versioning-multimodule-example/gradlew.bat
  examples/plugin/hide-internal-api/gradlew.bat
  gradlew.bat
Labels: infrastructure

#3796 Add DokkaJavadocPlugin
  dokka-runners/dokka-gradle-plugin/api/dokka-gradle-plugin.api
  dokka-runners/dokka-gradle-plugin/build.gradle.kts
  dokka-runners/dokka-gradle-plugin/src/main/kotlin/formats/DokkaJavadocPlugin.kt
  dokka-runners/dokka-gradle-plugin/src/main/kotlin/internal/v2MigrationUtils.kt
  dokka-runners/dokka-gradle-plugin/src/testFixtures/kotlin/GradleTestKitUtils.kt
  dokka-runners/dokka-gradle-plugin/src/testFixtures/kotlin/projects/MultiModuleProject.kt
  dokka-runners/dokka-gradle-plugin/src/testFunctional/kotlin/DokkaPluginFunctionalTest.kt
  dokka-runners/dokka-gradle-plugin/src/testFunctional/kotlin/MultiModuleFunctionalTest.kt
Labels: runner: Gradle plugin

#3801 Fix failing assertion in DokkaPluginFunctionalTest
  dokka-runners/dokka-gradle-plugin/src/testFunctional/kotlin/DokkaPluginFunctionalTest.kt
Labels: runner: Gradle plugin

#3807 Relocate DGPv2 'dokka' package in test source set
  dokka-runners/dokka-gradle-plugin/src/test/kotlin/engine/parameters/DokkaExternalDocumentationLinkSpecTest.kt
  dokka-runners/dokka-gradle-plugin/src/test/kotlin/engine/parameters/DokkaSourceLinkSpecTest.kt
  dokka-runners/dokka-gradle-plugin/src/test/kotlin/engine/parameters/KotlinPlatformTest.kt
  dokka-runners/dokka-gradle-plugin/src/test/kotlin/engine/parameters/VisibilityModifierTest.kt
  dokka-runners/dokka-gradle-plugin/src/test/kotlin/engine/parameters/builders/DokkaSourceSetBuilderTest.kt
  dokka-runners/dokka-gradle-plugin/src/test/kotlin/engine/plugins/DokkaVersioningPluginParametersTest.kt
Labels: runner: Gradle plugin

#3799 Configure default documentedVisibilities for perPackageOptions
  dokka-runners/dokka-gradle-plugin/src/main/kotlin/DokkaBasePlugin.kt
  dokka-runners/dokka-gradle-plugin/src/main/kotlin/engine/parameters/DokkaPackageOptionsSpec.kt
  dokka-runners/dokka-gradle-plugin/src/main/kotlin/engine/parameters/DokkaSourceSetSpec.kt
  dokka-runners/dokka-gradle-plugin/src/test/kotlin/DokkaPluginTest.kt
Labels: runner: Gradle plugin

#3804 Fix DGPv2 migration helpers
  dokka-runners/dokka-gradle-plugin/src/main/kotlin/internal/v2MigrationUtils.kt
  dokka-runners/dokka-gradle-plugin/src/testFunctional/kotlin/KotlinDslAccessorsTest.kt
  dokka-runners/dokka-gradle-plugin/src/testFunctional/resources/KotlinDslAccessorsTest/root-project-v2-migration-helpers.txt
  dokka-runners/dokka-gradle-plugin/src/testFunctional/resources/KotlinDslAccessorsTest/root-project.txt
  dokka-runners/dokka-gradle-plugin/src/testFunctional/resources/KotlinDslAccessorsTest/subproject-goodbye-v2-migration-helpers.txt
  dokka-runners/dokka-gradle-plugin/src/testFunctional/resources/KotlinDslAccessorsTest/subproject-goodbye.txt
  dokka-runners/dokka-gradle-plugin/src/testFunctional/resources/KotlinDslAccessorsTest/subproject-hello-v2-migration-helpers.txt
  dokka-runners/dokka-gradle-plugin/src/testFunctional/resources/KotlinDslAccessorsTest/subproject-hello.txt
Labels: runner: Gradle plugin

#3794 Remove configuration of transitive Dokka Engine dependencies
  dokka-runners/dokka-gradle-plugin/api/dokka-gradle-plugin.api
  dokka-runners/dokka-gradle-plugin/build.gradle.kts
  dokka-runners/dokka-gradle-plugin/src/main/kotlin/DokkaBasePlugin.kt
  dokka-runners/dokka-gradle-plugin/src/main/kotlin/DokkaExtension.kt
  dokka-runners/dokka-gradle-plugin/src/main/kotlin/formats/DokkaFormatPlugin.kt
  dokka-runners/dokka-gradle-plugin/src/main/kotlin/formats/DokkaHtmlPlugin.kt
  dokka-runners/dokka-gradle-plugin/src/main/kotlin/internal/gradleExtensionAccessors.kt
  dokka-runners/dokka-gradle-plugin/src/test/kotlin/formats/DokkaFormatPluginTest.kt
  dokka-runners/dokka-gradle-plugin/src/testFunctional/resources/KotlinDslAccessorsTest/root-project.txt
  dokka-runners/dokka-gradle-plugin/src/testFunctional/resources/KotlinDslAccessorsTest/subproject-goodbye.txt
  dokka-runners/dokka-gradle-plugin/src/testFunctional/resources/KotlinDslAccessorsTest/subproject-hello.txt
Labels: runner: Gradle plugin

#3770 When DGP is used in a pre-compiled script plugin, correctly generate accessors and disable warning logs
  dokka-runners/dokka-gradle-plugin/src/main/kotlin/internal/PluginFeaturesService.kt
  dokka-runners/dokka-gradle-plugin/src/testFunctional/kotlin/BuildSrcKotlinDslAccessorsTest.kt
Labels: runner: Gradle plugin

#3797 Update DGP plugin mode flags
  dokka-runners/dokka-gradle-plugin/src/main/kotlin/internal/PluginFeaturesService.kt
  dokka-runners/dokka-gradle-plugin/src/main/kotlin/internal/gradleProviderUtils.kt
  dokka-runners/dokka-gradle-plugin/src/main/kotlin/internal/logUtils.kt
  dokka-runners/dokka-gradle-plugin/src/testFixtures/kotlin/GradleProjectUtils.kt
  dokka-runners/dokka-gradle-plugin/src/testFixtures/kotlin/GradleTestKitUtils.kt
  dokka-runners/dokka-gradle-plugin/src/testFixtures/kotlin/gradleRunnerUtils.kt
  dokka-runners/dokka-gradle-plugin/src/testFixtures/kotlin/projects/NoConfigMultiModuleProject.kt
  dokka-runners/dokka-gradle-plugin/src/testFunctional/kotlin/BuildSrcKotlinDslAccessorsTest.kt
  dokka-runners/dokka-gradle-plugin/src/testFunctional/kotlin/KotlinDslAccessorsTest.kt
  dokka-runners/dokka-gradle-plugin/src/testFunctional/kotlin/MigrationMessagesTest.kt
  dokka-runners/dokka-gradle-plugin/src/testFunctional/kotlin/PluginFeaturesServiceTest.kt
Labels: runner: Gradle plugin

#3822 Fix DGPv2 migration helpers
  dokka-runners/dokka-gradle-plugin/src/main/kotlin/internal/v2MigrationUtils.kt
  dokka-runners/dokka-gradle-plugin/src/test/kotlin/internal/MigrationHelpersTest.kt
  dokka-runners/dokka-gradle-plugin/src/testFixtures/kotlin/GradleProjectUtils.kt
Labels: runner: Gradle plugin

#3829 DGPv2: Add noJdkLink/noStdlibLink/noAndroidSdkLink to help with migrating
  dokka-runners/dokka-gradle-plugin/api/dokka-gradle-plugin.api
  dokka-runners/dokka-gradle-plugin/src/main/kotlin/engine/parameters/DokkaSourceSetSpec.kt
  dokka-runners/dokka-gradle-plugin/src/test/kotlin/engine/parameters/DokkaSourceSetSpecTest.kt
Labels: runner: Gradle plugin

#3811 Update DGP opt-in warnings and messages
  dokka-runners/dokka-gradle-plugin/src/main/kotlin/internal/PluginFeaturesService.kt
  dokka-runners/dokka-gradle-plugin/src/testFunctional/kotlin/MigrationMessagesTest.kt
  dokka-runners/dokka-gradle-plugin/src/testFunctional/kotlin/TryK2MessagesTest.kt
Labels: runner: Gradle plugin

#3832 DGPv2: fix noJdkLink/noStdlibLink/noAndroidSdkLink
  dokka-runners/dokka-gradle-plugin/api/dokka-gradle-plugin.api
  dokka-runners/dokka-gradle-plugin/src/main/kotlin/engine/parameters/DokkaSourceSetSpec.kt
  dokka-runners/dokka-gradle-plugin/src/test/kotlin/engine/parameters/DokkaSourceSetSpecTest.kt
Labels: runner: Gradle plugin

#3830 DGPv2: Add suppressInheritedMembers/suppressObviousFunctions to help with migrating
  dokka-runners/dokka-gradle-plugin/api/dokka-gradle-plugin.api
  dokka-runners/dokka-gradle-plugin/build.gradle.kts
  dokka-runners/dokka-gradle-plugin/src/main/kotlin/DokkaBasePlugin.kt
  dokka-runners/dokka-gradle-plugin/src/main/kotlin/DokkaExtension.kt
  dokka-runners/dokka-gradle-plugin/src/test/kotlin/DokkaPluginTest.kt
  gradle/libs.versions.toml
Labels: runner: Gradle plugin

#3816 Fix OOM error caused by not cleaning AA sessions in tests
  dokka-subprojects/analysis-kotlin-api/src/testFixtures/kotlin/org/jetbrains/dokka/analysis/test/api/TestProject.kt
  dokka-subprojects/analysis-kotlin-api/src/testFixtures/kotlin/org/jetbrains/dokka/analysis/test/api/analysis/TestProjectAnalyzer.kt
Labels: infrastructure

#3808 Run `check` task on CI
  .github/workflows/tests-smoke.yml
  .github/workflows/tests-thorough.yml
  build-logic/src/main/kotlin/dokkabuild.test-integration.gradle.kts
  build-logic/src/main/kotlin/dokkabuild.test-k2.gradle.kts
  build-logic/src/main/kotlin/dokkabuild/DokkaBuildProperties.kt
  dokka-integration-tests/gradle.properties
  dokka-runners/dokka-gradle-plugin/src/testFunctional/kotlin/DokkaPluginFunctionalTest.kt
Labels: infrastructure

#3813 DGP v2 migration guide
  docs/dokka.tree
  docs/images/gradle-reload-button.png
  docs/topics/dokka-migration.md
Labels: runner: Gradle plugin, documentation

#3836 Enable Build Cache Push on GitHub CI
  build-settings-logic/settings.gradle.kts
  build-settings-logic/src/main/kotlin/dokkasettings.settings.gradle.kts
Labels: infrastructure

#3838 Update Gradle wrapper
  gradle/wrapper/gradle-wrapper.jar
Labels: infrastructure
