Repository Kotlin/dokka, pull requests merged in 2024-10, with the labels that each got.

#3812 Fix external documentation link default values
  dokka-runners/dokka-gradle-plugin/src/main/kotlin/DokkaBasePlugin.kt
  dokka-runners/dokka-gradle-plugin/src/main/kotlin/engine/parameters/DokkaSourceSetSpec.kt
  dokka-runners/dokka-gradle-plugin/src/test/kotlin/DokkaPluginTest.kt
Labels: runner: Gradle plugin

#3858 Enable Develocity test retry on CI
  build-logic/build.gradle.kts
  build-logic/src/main/kotlin/dokkabuild.base.gradle.kts
Labels: infrastructure

#3844 DGPv2 migration guide: minor tidying
  docs/topics/dokka-migration.md
Labels: runner: Gradle plugin, documentation

#3866 Unhide DGPv2 migration guide
  docs/dokka.tree
Labels: documentation

#3833 Forward Dokka Generator messages to Gradle logger
  dokka-runners/dokka-gradle-plugin/src/main/kotlin/internal/LoggerAdapter.kt
  dokka-runners/dokka-gradle-plugin/src/main/kotlin/tasks/DokkaGenerateTask.kt
  dokka-runners/dokka-gradle-plugin/src/main/kotlin/workers/DokkaGeneratorWorker.kt
  dokka-runners/dokka-gradle-plugin/src/test/kotlin/internal/LoggerAdapterTest.kt
  dokka-runners/dokka-gradle-plugin/src/testFunctional/kotlin/DokkaGeneratorLoggingTest.kt
Labels: runner: Gradle plugin

#3859 Hack kotlin compiler to not fail when annotation changes it's type from array to non-array
  dokka-integration-tests/gradle/build.gradle.kts
  dokka-integration-tests/gradle/projects/it-multiplatform-multimodule/build.gradle.kts
  dokka-integration-tests/gradle/projects/it-multiplatform-multimodule/first/build.gradle.kts
  dokka-integration-tests/gradle/projects/it-multiplatform-multimodule/first/src/commonMain/kotlin/Subclass.kt
  dokka-integration-tests/gradle/projects/it-multiplatform-multimodule/gradle.properties
  dokka-integration-tests/gradle/projects/it-multiplatform-multimodule/second/build.gradle.kts
  dokka-integration-tests/gradle/projects/it-multiplatform-multimodule/second/src/commonMain/kotlin/Usage.kt
  dokka-integration-tests/gradle/projects/it-multiplatform-multimodule/settings.gradle.kts
  dokka-integration-tests/gradle/src/testTemplateProjectMultiplatformMultimodule/kotlin/MultiModuleMultiplatformIntegrationTest.kt
  dokka-subprojects/analysis-kotlin-descriptors-compiler/api/analysis-kotlin-descriptors-compiler.api
  dokka-subprojects/analysis-kotlin-descriptors-compiler/src/main/kotlin/org/jetbrains/kotlin/serialization/deserialization/AnnotationDeserializer.kt
Labels: bug

#3873 Fix appending URI Path
  dokka-runners/dokka-gradle-plugin/src/main/kotlin/internal/uriUtils.kt
  dokka-runners/dokka-gradle-plugin/src/test/kotlin/internal/UriUtilsTest.kt
Labels: runner: Gradle plugin

#3877 Add deprecated property to help migrate from JSON Dokka plugin configuration
  docs/topics/dokka-migration.md
  dokka-runners/dokka-gradle-plugin/api/dokka-gradle-plugin.api
  dokka-runners/dokka-gradle-plugin/src/main/kotlin/DokkaExtension.kt
Labels: runner: Gradle plugin

#3881 Remove unused DGP utils
  dokka-runners/dokka-gradle-plugin/src/main/kotlin/internal/gradleUtils.kt
Labels: runner: Gradle plugin

#3876 Rename `dokkaPublicationDirectory` to `basePublicationsDirectory`
  docs/topics/dokka-migration.md
  dokka-runners/dokka-gradle-plugin/api/dokka-gradle-plugin.api
  dokka-runners/dokka-gradle-plugin/src/main/kotlin/DokkaBasePlugin.kt
  dokka-runners/dokka-gradle-plugin/src/main/kotlin/DokkaExtension.kt
Labels: runner: Gradle plugin, documentation

#3880 Rename `dokkaModuleDirectory`, and mark as internal
  dokka-runners/dokka-gradle-plugin/api/dokka-gradle-plugin.api
  dokka-runners/dokka-gradle-plugin/src/main/kotlin/DokkaBasePlugin.kt
  dokka-runners/dokka-gradle-plugin/src/main/kotlin/DokkaExtension.kt
Labels: runner: Gradle plugin

#3842 Update and add KDoc for DGPv2
  dokka-runners/dokka-gradle-plugin/src/main/kotlin/DokkaBasePlugin.kt
  dokka-runners/dokka-gradle-plugin/src/main/kotlin/DokkaExtension.kt
  dokka-runners/dokka-gradle-plugin/src/main/kotlin/adapters/AndroidAdapter.kt
  dokka-runners/dokka-gradle-plugin/src/main/kotlin/adapters/JavaAdapter.kt
  dokka-runners/dokka-gradle-plugin/src/main/kotlin/adapters/KotlinAdapter.kt
  dokka-runners/dokka-gradle-plugin/src/main/kotlin/dependencies/DokkaAttribute.kt
  dokka-runners/dokka-gradle-plugin/src/main/kotlin/dependencies/FormatDependenciesManager.kt
  dokka-runners/dokka-gradle-plugin/src/main/kotlin/dependencies/ModuleComponentDependencies.kt
  dokka-runners/dokka-gradle-plugin/src/main/kotlin/engine/parameters/DokkaExternalDocumentationLinkSpec.kt
  dokka-runners/dokka-gradle-plugin/src/main/kotlin/engine/parameters/DokkaGeneratorParametersSpec.kt
  dokka-runners/dokka-gradle-plugin/src/main/kotlin/engine/parameters/DokkaModuleDescriptionKxs.kt
  dokka-runners/dokka-gradle-plugin/src/main/kotlin/engine/parameters/DokkaSourceLinkSpec.kt
  dokka-runners/dokka-gradle-plugin/src/main/kotlin/engine/parameters/DokkaSourceSetSpec.kt
  dokka-runners/dokka-gradle-plugin/src/main/kotlin/engine/parameters/HasConfigurableVisibilityModifiers.kt
  dokka-runners/dokka-gradle-plugin/src/main/kotlin/engine/parameters/SourceSetIdSpec.kt
  dokka-runners/dokka-gradle-plugin/src/main/kotlin/engine/parameters/builders/DokkaParametersBuilder.kt
  dokka-runners/dokka-gradle-plugin/src/main/kotlin/engine/parameters/builders/DokkaSourceSetBuilder.kt
  dokka-runners/dokka-gradle-plugin/src/main/kotlin/formats/DokkaPublication.kt
  dokka-runners/dokka-gradle-plugin/src/main/kotlin/internal/DokkaInternalApi.kt
  dokka-runners/dokka-gradle-plugin/src/main/kotlin/internal/HasFormatName.kt
  dokka-runners/dokka-gradle-plugin/src/main/kotlin/tasks/DokkaGenerateTask.kt
  dokka-runners/dokka-gradle-plugin/src/main/kotlin/tasks/LogHtmlPublicationLinkTask.kt
  dokka-runners/dokka-gradle-plugin/src/main/kotlin/tasks/TaskNames.kt
  dokka-runners/dokka-gradle-plugin/src/main/kotlin/workers/WorkerIsolationProperties.kt
Labels: runner: Gradle plugin

#3867 Rename `DokkaInternalApi` to `InternalDokkaGradlePluginApi`
  build-logic/src/main/kotlin/dokkabuild/tasks/GenerateDokkaGradlePluginConstants.kt
  dokka-runners/dokka-gradle-plugin/api/dokka-gradle-plugin.api
  dokka-runners/dokka-gradle-plugin/build.gradle.kts
  dokka-runners/dokka-gradle-plugin/src/main/kotlin/DokkaBasePlugin.kt
  dokka-runners/dokka-gradle-plugin/src/main/kotlin/DokkaExtension.kt
  dokka-runners/dokka-gradle-plugin/src/main/kotlin/DokkaPlugin.kt
  dokka-runners/dokka-gradle-plugin/src/main/kotlin/adapters/AndroidAdapter.kt
  dokka-runners/dokka-gradle-plugin/src/main/kotlin/adapters/JavaAdapter.kt
  dokka-runners/dokka-gradle-plugin/src/main/kotlin/adapters/KotlinAdapter.kt
  dokka-runners/dokka-gradle-plugin/src/main/kotlin/dependencies/BaseDependencyManager.kt
  dokka-runners/dokka-gradle-plugin/src/main/kotlin/dependencies/DependencyContainerNames.kt
  dokka-runners/dokka-gradle-plugin/src/main/kotlin/dependencies/DokkaAttribute.kt
  dokka-runners/dokka-gradle-plugin/src/main/kotlin/dependencies/FormatDependenciesManager.kt
  dokka-runners/dokka-gradle-plugin/src/main/kotlin/dependencies/ModuleComponentDependencies.kt
  dokka-runners/dokka-gradle-plugin/src/main/kotlin/dependencies/attributeValues.kt
  dokka-runners/dokka-gradle-plugin/src/main/kotlin/engine/parameters/DokkaExternalDocumentationLinkSpec.kt
  dokka-runners/dokka-gradle-plugin/src/main/kotlin/engine/parameters/DokkaGeneratorParametersSpec.kt
  dokka-runners/dokka-gradle-plugin/src/main/kotlin/engine/parameters/DokkaModuleDescriptionKxs.kt
  dokka-runners/dokka-gradle-plugin/src/main/kotlin/engine/parameters/DokkaPackageOptionsSpec.kt
  dokka-runners/dokka-gradle-plugin/src/main/kotlin/engine/parameters/DokkaSourceLinkSpec.kt
  dokka-runners/dokka-gradle-plugin/src/main/kotlin/engine/parameters/DokkaSourceSetSpec.kt
  dokka-runners/dokka-gradle-plugin/src/main/kotlin/engine/parameters/SourceSetIdSpec.kt
  dokka-runners/dokka-gradle-plugin/src/main/kotlin/engine/parameters/builders/DokkaParametersBuilder.kt
  dokka-runners/dokka-gradle-plugin/src/main/kotlin/engine/parameters/builders/DokkaSourceSetBuilder.kt
  dokka-runners/dokka-gradle-plugin/src/main/kotlin/engine/plugins/DokkaHtmlPluginParameters.kt
  dokka-runners/dokka-gradle-plugin/src/main/kotlin/engine/plugins/DokkaPluginParametersBaseSpec.kt
  dokka-runners/dokka-gradle-plugin/src/main/kotlin/engine/plugins/DokkaPluginParametersBuilder.kt
  dokka-runners/dokka-gradle-plugin/src/main/kotlin/engine/plugins/DokkaVersioningPluginParameters.kt
  dokka-runners/dokka-gradle-plugin/src/main/kotlin/formats/DokkaFormatPlugin.kt
  dokka-runners/dokka-gradle-plugin/src/main/kotlin/formats/DokkaFormatTasks.kt
  dokka-runners/dokka-gradle-plugin/src/main/kotlin/formats/DokkaHtmlPlugin.kt
  dokka-runners/dokka-gradle-plugin/src/main/kotlin/formats/DokkaJavadocPlugin.kt
  dokka-runners/dokka-gradle-plugin/src/main/kotlin/formats/DokkaPublication.kt
  dokka-runners/dokka-gradle-plugin/src/main/kotlin/internal/HasFormatName.kt
  dokka-runners/dokka-gradle-plugin/src/main/kotlin/internal/InternalDokkaGradlePluginApi.kt
  dokka-runners/dokka-gradle-plugin/src/main/kotlin/internal/PluginFeaturesService.kt
  dokka-runners/dokka-gradle-plugin/src/main/kotlin/tasks/DokkaBaseTask.kt
  dokka-runners/dokka-gradle-plugin/src/main/kotlin/tasks/DokkaGenerateModuleTask.kt
  dokka-runners/dokka-gradle-plugin/src/main/kotlin/tasks/DokkaGeneratePublicationTask.kt
  dokka-runners/dokka-gradle-plugin/src/main/kotlin/tasks/DokkaGenerateTask.kt
  dokka-runners/dokka-gradle-plugin/src/main/kotlin/tasks/LogHtmlPublicationLinkTask.kt
  dokka-runners/dokka-gradle-plugin/src/main/kotlin/tasks/TaskNames.kt
  dokka-runners/dokka-gradle-plugin/src/main/kotlin/workers/DokkaGeneratorWorker.kt
Labels: runner: Gradle plugin

#3868 Add an opt-in requirement for `DokkaPublication#finalizeCoroutines`
  dokka-runners/dokka-gradle-plugin/api/dokka-gradle-plugin.api
  dokka-runners/dokka-gradle-plugin/src/main/kotlin/engine/parameters/DokkaGeneratorParametersSpec.kt
  dokka-runners/dokka-gradle-plugin/src/main/kotlin/formats/DokkaPublication.kt
Labels: runner: Gradle plugin

#3892 Update fileTree test util to only use NIO Path
  dokka-runners/dokka-gradle-plugin/src/testFixtures/kotlin/fileTree.kt
Labels: runner: Gradle plugin
