Repository Kotlin/dokka, pull requests merged in 2024-08, with the labels that each got.

#3727 Fix 'provider has no value' error when running DGP integration tests without ANDROID_HOME
  dokka-integration-tests/gradle/build.gradle.kts
Labels: infrastructure

#3728 Use cache-redirector for Maven plugin build
  build-logic/src/main/kotlin/dokkabuild.setup-maven-cli.gradle.kts
  build-logic/src/main/kotlin/dokkabuild/tasks/MvnExec.kt
  dokka-runners/runner-maven-plugin/settings.xml
Labels: infrastructure, runner: Maven plugin

#3735 GHA: Upload build reports on test failures
  .github/workflows/tests-smoke.yml
  .github/workflows/tests-thorough.yml
Labels: infrastructure

#3731 Fix read-only cache dir in DGP integration tests
  dokka-integration-tests/gradle/src/main/kotlin/org/jetbrains/dokka/it/gradle/AbstractGradleIntegrationTest.kt
Labels: runner: Gradle plugin

#3717 Reduce log level of test Gradle projects
  dokka-integration-tests/gradle/src/main/kotlin/org/jetbrains/dokka/it/gradle/AbstractGradleIntegrationTest.kt
  dokka-integration-tests/gradle/src/testExternalProjectKotlinxCoroutines/kotlin/CoroutinesGradleIntegrationTest.kt
  dokka-integration-tests/gradle/src/testExternalProjectKotlinxSerialization/kotlin/SerializationGradleIntegrationTest.kt
  dokka-integration-tests/gradle/src/testTemplateProjectAndroid/kotlin/Android0GradleIntegrationTest.kt
  dokka-integration-tests/gradle/src/testTemplateProjectBasic/kotlin/BasicCachingIntegrationTest.kt
  dokka-integration-tests/gradle/src/testTemplateProjectBasic/kotlin/BasicGradleIntegrationTest.kt
  dokka-integration-tests/gradle/src/testTemplateProjectBasic/kotlin/GradleRelocatedCachingIntegrationTest.kt
  dokka-integration-tests/gradle/src/testTemplateProjectBasicGroovy/kotlin/BasicGroovyIntegrationTest.kt
  dokka-integration-tests/gradle/src/testTemplateProjectCollector/kotlin/Collector0IntegrationTest.kt
  dokka-integration-tests/gradle/src/testTemplateProjectConfiguration/kotlin/ConfigurationTest.kt
  dokka-integration-tests/gradle/src/testTemplateProjectJsIr/kotlin/JsIRGradleIntegrationTest.kt
  dokka-integration-tests/gradle/src/testTemplateProjectMultimodule0/kotlin/MultiModule0IntegrationTest.kt
  dokka-integration-tests/gradle/src/testTemplateProjectMultimodule1/kotlin/MultiModule1IntegrationTest.kt
  dokka-integration-tests/gradle/src/testTemplateProjectMultimoduleInterModuleLinks/kotlin/MultiModuleInterModuleLinksIntegrationTest.kt
  dokka-integration-tests/gradle/src/testTemplateProjectMultimoduleVersioning/kotlin/Versioning0IntegrationTest.kt
  dokka-integration-tests/gradle/src/testTemplateProjectMultiplatform/kotlin/Multiplatform0GradleIntegrationTest.kt
  dokka-integration-tests/gradle/src/testTemplateProjectTasksExecutionStress/kotlin/SequentialTasksExecutionStressTest.kt
  dokka-integration-tests/gradle/src/testTemplateProjectWasmBasic/kotlin/WasmGradleIntegrationTest.kt
  dokka-integration-tests/gradle/src/testTemplateProjectWasmJsWasiBasic/kotlin/WasmJsWasiGradleIntegrationTest.kt
  dokka-integration-tests/gradle/src/testUiShowcaseProject/kotlin/UiShowcaseIntegrationTest.kt
  dokka-runners/runner-gradle-plugin-classic/src/main/kotlin/org/jetbrains/dokka/gradle/tasks/AbstractDokkaTask.kt
Labels: runner: Gradle plugin

#3739 Migrate to com.gradleup.shadow
  build-logic/src/main/kotlin/dokkabuild.publish-shadow.gradle.kts
  gradle/libs.versions.toml
Labels: infrastructure

#3742 Update Gradle Enterprise to Gradle Develocity
  build-settings-logic/build.gradle.kts
  build-settings-logic/src/main/kotlin/dokkasettings.gradle-enterprise.settings.gradle.kts
  gradle/libs.versions.toml
Labels: infrastructure

#3736 Update DGP migration opt-in flags and messages
  dokka-runners/dokka-gradle-plugin/src/classicMain/kotlin/DokkaClassicPlugin.kt
  dokka-runners/dokka-gradle-plugin/src/main/kotlin/DokkaPlugin.kt
  dokka-runners/dokka-gradle-plugin/src/main/kotlin/internal/ExperimentalFlags.kt
  dokka-runners/dokka-gradle-plugin/src/main/kotlin/internal/PluginFeaturesService.kt
  dokka-runners/dokka-gradle-plugin/src/main/kotlin/internal/gradleUtils.kt
  dokka-runners/dokka-gradle-plugin/src/main/kotlin/tasks/LogHtmlPublicationLinkTask.kt
  dokka-runners/dokka-gradle-plugin/src/test/kotlin/DokkaPluginTest.kt
  dokka-runners/dokka-gradle-plugin/src/test/kotlin/dokka/parameters/DokkaExternalDocumentationLinkSpecTest.kt
  dokka-runners/dokka-gradle-plugin/src/test/kotlin/dokka/parameters/DokkaSourceLinkSpecTest.kt
  dokka-runners/dokka-gradle-plugin/src/test/kotlin/dokka/parameters/builders/DokkaSourceSetBuilderTest.kt
  dokka-runners/dokka-gradle-plugin/src/test/kotlin/dokka/plugins/DokkaVersioningPluginParametersTest.kt
  dokka-runners/dokka-gradle-plugin/src/testFixtures/kotlin/GradleProjectUtils.kt
  dokka-runners/dokka-gradle-plugin/src/testFixtures/kotlin/GradleTestKitUtils.kt
  dokka-runners/dokka-gradle-plugin/src/testFixtures/kotlin/gradleRunnerUtils.kt
  dokka-runners/dokka-gradle-plugin/src/testFunctional/kotlin/HtmlAggregationWarningTest.kt
  dokka-runners/dokka-gradle-plugin/src/testFunctional/kotlin/KotlinMultiplatformFunctionalTest.kt
  dokka-runners/dokka-gradle-plugin/src/testFunctional/kotlin/MigrationMessagesTest.kt
  dokka-runners/dokka-gradle-plugin/src/testFunctional/kotlin/MultiModuleFunctionalTest.kt
  dokka-runners/dokka-gradle-plugin/src/testFunctional/kotlin/tasks/LogHtmlPublicationLinkTaskTest.kt
Labels: runner: Gradle plugin

#3754 Prettify file trees in docs
  docs/topics/runners/dokka-gradle.md
  dokka-subprojects/plugin-versioning/README.md
Labels: documentation

#3743 Support K2 Analysis in DGPv2
  dokka-runners/dokka-gradle-plugin/src/classicMain/kotlin/DokkaArtifacts.kt
  dokka-runners/dokka-gradle-plugin/src/classicMain/kotlin/DokkaClassicPlugin.kt
  dokka-runners/dokka-gradle-plugin/src/classicMain/kotlin/gradleConfigurations.kt
  dokka-runners/dokka-gradle-plugin/src/main/kotlin/formats/DokkaFormatPlugin.kt
  dokka-runners/dokka-gradle-plugin/src/main/kotlin/internal/PluginFeaturesService.kt
  dokka-runners/dokka-gradle-plugin/src/testFixtures/kotlin/GradleTestKitUtils.kt
  dokka-runners/dokka-gradle-plugin/src/testFunctional/kotlin/MigrationMessagesTest.kt
  dokka-runners/dokka-gradle-plugin/src/testFunctional/kotlin/TryK2MessagesTest.kt
Labels: runner: Gradle plugin

#3764 DGPv2: Tidy configurable options
  dokka-runners/dokka-gradle-plugin/api/dokka-gradle-plugin.api
  dokka-runners/dokka-gradle-plugin/src/main/kotlin/DokkaBasePlugin.kt
  dokka-runners/dokka-gradle-plugin/src/main/kotlin/dokka/DokkaPublication.kt
Labels: runner: Gradle plugin

#3769 Simplify configuration of DokkaPublication output directories
  dokka-runners/dokka-gradle-plugin/api/dokka-gradle-plugin.api
  dokka-runners/dokka-gradle-plugin/src/main/kotlin/DokkaBasePlugin.kt
  dokka-runners/dokka-gradle-plugin/src/main/kotlin/dokka/DokkaPublication.kt
  dokka-runners/dokka-gradle-plugin/src/main/kotlin/formats/DokkaFormatPlugin.kt
  dokka-runners/dokka-gradle-plugin/src/main/kotlin/formats/DokkaFormatTasks.kt
Labels: runner: Gradle plugin

#3768 Expose `dokka-core` as an API dependency
  dokka-runners/dokka-gradle-plugin/build.gradle.kts
Labels: runner: Gradle plugin
